#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# Use LINGUAS to force installation of all available linguas.

LINGUAS=$(shell ls po | egrep '[.]po$$' | sed 's/\.po//' | tr '\n' ' ')

# squelch unknown flags passed to ./configure by dh_auto_configure
#  ./configure: --build=x86_64-linux-gnu --prefix=/usr
#    --includedir='$${prefix}/include' --mandir='$${prefix}/share/man'
#    --infodir='$${prefix}/share/info' --sysconfdir=/etc
#    --localstatedir=/var --libexecdir='$${prefix}/lib/dwdiff'
#    --disable-maintainer-mode --disable-dependency-tracking

# Glom CPPFLAGS onto CFLAGS because this deficient ./configure etc
# ignores the former.

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

-include /usr/share/dpkg/buildtools.mk
export CC
export CFLAGS = \
 $(shell dpkg-buildflags --get CFLAGS) \
 $(shell dpkg-buildflags --get CPPFLAGS)

override_dh_auto_configure:
	./configure --prefix=/usr --mandir='$${prefix}/share/man'

override_dh_auto_build:
	dh_auto_build -- LINGUAS="$(LINGUAS)"

override_dh_auto_install:
	dh_auto_install -- LINGUAS="$(LINGUAS)" docdir='$$(prefix)/share/doc/dwdiff'
	echo "Work around Makefile installing Changelog and COPYING into docdir."
	-rm --verbose debian/dwdiff/usr/share/doc/dwdiff/Changelog
	-rm --verbose debian/dwdiff/usr/share/doc/dwdiff/COPYING
	echo "Work around Makefile installing unneeded *.UTF-8 directories"
	-rm --verbose -r debian/dwdiff/usr/share/man/*.UTF-8
