#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

# squelch unknown flags passed to ./configure by dh_auto_configure
#  ./configure: --build=x86_64-linux-gnu --prefix=/usr
#    --includedir='$${prefix}/include' --mandir='$${prefix}/share/man'
#    --infodir='$${prefix}/share/info' --sysconfdir=/etc
#    --localstatedir=/var --libexecdir='$${prefix}/lib/dwdiff'
#    --disable-maintainer-mode --disable-dependency-tracking

override_dh_auto_configure:
	./configure --prefix=/usr --mandir='$${prefix}/share/man'

# work around Makefile not using DESTDIR

override_dh_auto_install:
	$(MAKE) prefix=$(CURDIR)/debian/dwdiff/usr install
