#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

# Use LINGUAS to force installation of all available linguas.

LINGUAS=$(shell ls po | egrep '[.]po$$' | sed 's/.po//' | tr '\n' ' ')

# squelch unknown flags passed to ./configure by dh_auto_configure
#  ./configure: --build=x86_64-linux-gnu --prefix=/usr
#    --includedir='$${prefix}/include' --mandir='$${prefix}/share/man'
#    --infodir='$${prefix}/share/info' --sysconfdir=/etc
#    --localstatedir=/var --libexecdir='$${prefix}/lib/dwdiff'
#    --disable-maintainer-mode --disable-dependency-tracking

override_dh_auto_configure:
	./configure --prefix=/usr --mandir='$${prefix}/share/man'

override_dh_auto_build:
	dh_auto_build -- LINGUAS="$(LINGUAS)"

# Work around Makefile not using DESTDIR.
# Work around Makefile using docdir that includes version postfix.
# Work around Makefile installing Changelog and COPYING into docdir.

override_dh_auto_install:
	$(MAKE) prefix=$(CURDIR)/debian/dwdiff/usr \
		docdir='$$(prefix)/share/doc/dwdiff' \
		LINGUAS="$(LINGUAS)" \
		install
	-rm debian/dwdiff/usr/share/doc/dwdiff/Changelog debian/dwdiff/usr/share/doc/dwdiff/COPYING
	-rm -r debian/dwdiff/usr/share/man/*.UTF-8
